body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding-top: 50px;
}
#word {
    font-size: 32px;
    margin: 20px;
    color: #333;
}
input {
    font-size: 24px;
    padding: 10px;
    width: 300px;
}
#score{
    font-size: 20px;
    margin-top:10px;
}


#result {
    font-size: 24px;
    color: green;
    margin-top: 20px;
}

